*.db
\#*\#
*~
.kate-swp
~*
.~lock*
# the following directory is to stash things for git to not look at
# such as merge-spam
nogit
# spreadsheets
*.csv
# R and RStudio
.Rproj.user
.RData
.Rhistory
*.Rproj
# Python
*.pyc
